In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # data visualization library  
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('analytics_vidhya/train.csv')
test = pd.read_csv('analytics_vidhya/test.csv')

In [3]:
print(train.shape)
print(test.shape)

(26496, 8)
(8568, 7)

In [4]:
train.describe()

,ID,temperature,var1,pressure,windspeed,electricity_consumption
count,26496.000000,26496.000000,26496.000000,26496.000000,26496.000000,26496.000000
mean,17455.500000,5.098989,-1.916233,986.450615,23.959956,298.359601
std,10122.873673,8.682860,10.424860,12.002647,48.280321,108.020555
min,0.000000,-17.100000,-32.900000,953.000000,1.075000,174.000000
25%,8717.750000,-2.900000,-10.700000,978.000000,3.155000,219.000000
50%,17435.500000,6.400000,-1.400000,986.000000,6.545000,267.000000
75%,26177.250000,12.100000,7.900000,995.000000,22.260000,342.000000
max,34895.000000,23.600000,18.600000,1024.000000,586.600000,1386.000000

In [5]:
train.columns

Index([u'ID', u'datetime', u'temperature', u'var1', u'pressure', u'windspeed',
       u'var2', u'electricity_consumption'],
      dtype='object')

In [7]:
train.var2.unique()

array(['A', 'B', 'C'], dtype=object)

In [8]:
train.isnull().sum()

ID                         0
datetime                   0
temperature                0
var1                       0
pressure                   0
windspeed                  0
var2                       0
electricity_consumption    0
dtype: int64