In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # data visualization library  
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('analytics_vidhya/train.csv')
test = pd.read_csv('analytics_vidhya/test.csv')

In [3]:
print(train.shape)
print(test.shape)

(26496, 8)
(8568, 7)

In [4]:
train.describe()

,ID,temperature,var1,pressure,windspeed,electricity_consumption
count,26496.000000,26496.000000,26496.000000,26496.000000,26496.000000,26496.000000
mean,17455.500000,5.098989,-1.916233,986.450615,23.959956,298.359601
std,10122.873673,8.682860,10.424860,12.002647,48.280321,108.020555
min,0.000000,-17.100000,-32.900000,953.000000,1.075000,174.000000
25%,8717.750000,-2.900000,-10.700000,978.000000,3.155000,219.000000
50%,17435.500000,6.400000,-1.400000,986.000000,6.545000,267.000000
75%,26177.250000,12.100000,7.900000,995.000000,22.260000,342.000000
max,34895.000000,23.600000,18.600000,1024.000000,586.600000,1386.000000

In [5]:
train.columns

Index([u'ID', u'datetime', u'temperature', u'var1', u'pressure', u'windspeed',
       u'var2', u'electricity_consumption'],
      dtype='object')

In [7]:
train.var2.unique()

array(['A', 'B', 'C'], dtype=object)

In [8]:
train.isnull().sum()

ID                         0
datetime                   0
temperature                0
var1                       0
pressure                   0
windspeed                  0
var2                       0
electricity_consumption    0
dtype: int64

In [11]:
label = train.electricity_consumption
train = train.drop(['electricity_consumption'],axis=1)
print(train.columns)

Index([u'ID', u'datetime', u'temperature', u'var1', u'pressure', u'windspeed',
       u'var2'],
      dtype='object')

In [12]:
train = train.drop(['ID'],axis=1)
print(train.columns)

Index([u'datetime', u'temperature', u'var1', u'pressure', u'windspeed',
       u'var2'],
      dtype='object')

In [13]:
train.var2 = train.var2.replace(["A", "B", "C"],[1,2,3])
train["var2"] = train.var2 
print(train.var2.unique())

[1 2 3]

In [18]:
from datetime import datetime
def month_from_date(date):
  dmyyyy = datetime.strptime(date, '%Y-%m-%d %H:%M:%S')
  return int(datetime.strftime(dmyyyy, '%m'))
def hour_from_date(date):
  dmyyyy = datetime.strptime(date, '%Y-%m-%d %H:%M:%S')
  return int(datetime.strftime(dmyyyy, '%H'))
month_of = train['datetime'].apply(month_from_date)
hour_of = train['datetime'].apply(hour_from_date)
# print(hour_of)
train['month_of'] = month_of;
train['hour_of'] = hour_of;

In [20]:
print(train.columns)

Index([u'datetime', u'temperature', u'var1', u'pressure', u'windspeed',
       u'var2', u'month_of', u'hour_of'],
      dtype='object')

In [21]:
train = train.drop(['datetime'],axis=1)
print(train.columns)

Index([u'temperature', u'var1', u'pressure', u'windspeed', u'var2',
       u'month_of', u'hour_of'],
      dtype='object')

In [37]:
from sklearn.ensemble import AdaBoostClassifier #For Classification
from sklearn.ensemble import AdaBoostRegressor #For Regression
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor() 
clf = AdaBoostRegressor(n_estimators=100, base_estimator=dt,learning_rate=1)
#Above I have used decision tree as a base estimator, you can use any ML learner as base estimator if it ac# cepts sample weight 
clf.fit(train,label)

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best'),
         learning_rate=1, loss='linear', n_estimators=100,
         random_state=None)

In [38]:
test.describe()

                 ID  temperature         var1     pressure    windspeed
count   8568.000000  8568.000000  8568.000000  8568.000000  8568.000000
mean   17766.525210     5.112757    -1.726401   986.329599    24.176398
std    10117.296415     8.606167    10.345034    12.148517    49.651535
min      552.000000   -17.900000   -26.400000   954.000000     1.075000
25%     9317.750000    -2.100000   -10.000000   977.000000     3.155000
50%    18083.500000     5.700000    -2.100000   987.000000     6.295000
75%    26297.250000    12.100000     7.900000   995.000000    21.907500
max    35063.000000    25.700000    17.900000  1023.000000   491.255000

In [39]:
new_test = test.drop(['ID'],axis=1)
print(new_test.columns)

Index([u'datetime', u'temperature', u'var1', u'pressure', u'windspeed',
       u'var2'],
      dtype='object')

In [40]:
new_test.var2 = new_test.var2.replace(["A", "B", "C"],[1,2,3])
new_test["var2"] = new_test.var2 
print(new_test.var2.unique())

[1 2 3]

In [41]:
from datetime import datetime
def month_from_date(date):
  dmyyyy = datetime.strptime(date, '%Y-%m-%d %H:%M:%S')
  return int(datetime.strftime(dmyyyy, '%m'))
def hour_from_date(date):
  dmyyyy = datetime.strptime(date, '%Y-%m-%d %H:%M:%S')
  return int(datetime.strftime(dmyyyy, '%H'))
month_of = new_test['datetime'].apply(month_from_date)
hour_of = new_test['datetime'].apply(hour_from_date)
# print(hour_of)
new_test['month_of'] = month_of;
new_test['hour_of'] = hour_of;
print(new_test.columns)

Index([u'datetime', u'temperature', u'var1', u'pressure', u'windspeed',
       u'var2', u'month_of', u'hour_of'],
      dtype='object')

In [42]:
new_test = new_test.drop(['datetime'],axis=1)
print(new_test.columns)

Index([u'temperature', u'var1', u'pressure', u'windspeed', u'var2',
       u'month_of', u'hour_of'],
      dtype='object')

In [43]:
test_label = clf.predict(new_test)
print('ok')

ok

In [44]:
print(test_label)
new_test['electricity_consumption'] = test_label
new_test['ID'] = test['ID']

[ 204.  210.  207. ...,  201.  201.  198.]

In [45]:
new_pd_frame = new_test[['ID','electricity_consumption']]

In [46]:
new_pd_frame.to_csv('sample_submission_av_2.csv', index=False)