In [38]:
# Import the relevant libaries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [39]:
video = pd.read_csv('games/sales.csv')
video.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [40]:
video.columns

Index([u'Name', u'Platform', u'Year_of_Release', u'Genre', u'Publisher',
       u'NA_Sales', u'EU_Sales', u'JP_Sales', u'Other_Sales', u'Global_Sales',
       u'Critic_Score', u'Critic_Count', u'User_Score', u'User_Count',
       u'Developer', u'Rating'],
      dtype='object')

In [41]:
print(video.shape)

(16719, 16)

In [42]:
video.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [43]:
video = video.dropna(axis=0)

In [44]:
print(video.shape)
print(video.isnull().sum())

(6825, 16)
Name               0
Platform           0
Year_of_Release    0
Genre              0
Publisher          0
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales       0
Critic_Score       0
Critic_Count       0
User_Score         0
User_Count         0
Developer          0
Rating             0
dtype: int64

In [45]:
video.Platform = video.Platform.replace(["Wii","DS","X360","PS3","PS2","3DS","PS4","PS","XB","PC","PSP","WiiU","GC","GBA","XOne","PSV","DC"],[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17])
video["Platform"] = video.Platform

In [46]:
video.Genre = video.Genre.replace(["Sports", "Racing", "Platform", "Misc", "Action", "Puzzle","Shooter", "Fighting", "Simulation", "Role-Playing", "Adventure","Strategy"],[1,2,3,4,5,6,7,8,9,10,11,12])
video["Genre"] = video.Genre

In [47]:
video.Rating = video.Rating.replace(["E", "M", "T", "E10+", "AO", "K-A", "RP"],[1,2,3,4,5,6,7])
video["Rating"] = video.Rating

In [48]:
train = video[["Platform", "Year_of_Release", "Genre", "Publisher","NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales","Critic_Score", "Critic_Count", "User_Score", "User_Count", "Rating"]]
train.describe()

,Platform,Year_of_Release,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count,Rating
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,6.720293,2007.436777,5.641758,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,174.722344,2.317509
std,4.117327,4.211248,3.226527,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,587.428538,1.051220
min,1.000000,1985.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000,1.000000
25%,3.000000,2004.000000,3.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,11.000000,1.000000
50%,5.000000,2007.000000,5.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,27.000000,2.000000
75%,10.000000,2011.000000,8.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,89.000000,3.000000
max,17.000000,2016.000000,12.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,10665.000000,7.000000