In [1]:
# Imports
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, make_scorer
from scipy.stats import skew
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns

# Definitions
pd.set_option('display.float_format', lambda x: '%.3f' % x)
%matplotlib inline
#njobs = 4

In [2]:
# Get data
train = pd.read_csv("mckinsey/train.csv")
print("train : " + str(train.shape))

train : (48120, 4)

In [3]:
train.head()

              DateTime  Junction  Vehicles           ID
0  2015-11-01 00:00:00         1        15  20151101001
1  2015-11-01 01:00:00         1        13  20151101011
2  2015-11-01 02:00:00         1        10  20151101021
3  2015-11-01 03:00:00         1         7  20151101031
4  2015-11-01 04:00:00         1         9  20151101041

In [4]:
train.describe()

       Junction  Vehicles              ID
count 48120.000 48120.000       48120.000
mean      2.181    22.791 20163302501.220
std       0.967    20.750     5944853.800
min       1.000     1.000 20151101001.000
25%       1.000     9.000 20160416019.000
50%       2.000    15.000 20160930037.000
75%       3.000    29.000 20170225162.250
max       4.000   180.000 20170630234.000

In [5]:
train.isnull().sum()

DateTime    0
Junction    0
Vehicles    0
ID          0
dtype: int64

In [6]:
# Get data
test = pd.read_csv("mckinsey/test.csv")
print("test : " + str(test.shape))

test : (11808, 3)

In [7]:
test.head()

              DateTime  Junction           ID
0  2017-07-01 00:00:00         1  20170701001
1  2017-07-01 01:00:00         1  20170701011
2  2017-07-01 02:00:00         1  20170701021
3  2017-07-01 03:00:00         1  20170701031
4  2017-07-01 04:00:00         1  20170701041

In [8]:
test.describe()

       Junction              ID
count 11808.000       11808.000
mean      2.500 20170865589.045
std       1.118      112466.544
min       1.000 20170701001.000
25%       1.750 20170731179.250
50%       2.500 20170831117.500
75%       3.250 20171001055.750
max       4.000 20171031234.000

In [9]:
test.isnull().sum()

DateTime    0
Junction    0
ID          0
dtype: int64